
<script type="text/javascript" src="/scripts/user.js"></script>
<!-- <script type="text/javascript" src="/scripts/script.js"></script> -->

<div id="audio-div">
  <audio src="" type="audio/mpeg" id="currSong-mp3">
  <p>Your browser does not support the <code>audio</code> element.</p>
  </audio>
</div>
<div class="container-fluid">
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="h1-container">
    <h1 class="user-h1" id="userH1"><%= @user.username %>'s  Page</h1>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="boomBoxCont">
      <canvas id="boomBoxCanvas" width="400" height="400"></canvas>
      <div id=songTitleDiv>
        <p id=currSongTitle> </p>
      </div>
      <div id="controlBtns">
       <input type="button" name="play" class="ctrl-btn box-play-btn" value="PLAY">
       <input type="button" name="pause" class="ctrl-btn box-pause-btn" value="PAUSE">
       <input type="button" name="search" class="ctrl-btn box-search-btn" value="SEARCH">
       <input type="button" name="playlist" class="ctrl-btn box-playlist-btn" value="PLAYLIST">
       <input type="button" name="add" class="ctrl-btn box-add-btn" value="ADD TO PLAYLIST">
       <input type="button" name="songs" class="ctrl-btn play-song-list" value="PLAY SONGS">
       <p id="songID"></p>
      </div>
    </div>
  </div>
  <!-- shows the users playlist change it in css with display option -->
  <div class="playlist-container">
    <% if @user.songs != nil %>
      <% @user.songs.each do |song| %>
        <div class="song-div row">
          <div class="title-div col-md-5">
            <p> <%= song.title %></p>
          </div>
          <div class="deletepost-div col-md-2">
            <input type="button" value="delete"
                class="main-delete-btn"> 
          </div>
          <div class="up-buttons col-sm-1">
            <button class="glyphicon glyphicon-chevron-up"></button>
          </div>
          <div class="down-buttons col-sm-1">
            <button class="glyphicon glyphicon-chevron-down"></button>
          </div>
          <p> <%= song.rating %> </p>
        </div> 
      <% end %>
    <% end %>
  </div>
  <div id="searchlist-container row">
    <div class="col-md-2"></div>
    <form method="POST" action="/pickSong" id="addSongList" class="col-md-5">
    
    </form>
  </div>
  <div class="searchDiv row">
    <div class="col-md-4">
      <h4> Search the sound cloud </h4>
      <form id="searchForm" method="POST" action="/searchcloud">
        <label for="keyword"> keyword </label>
        <input type="text" name="keyword" id="inputQuery">
        <input type="submit" id="searchFormBtn">
      </form>
    </div>
  </div>
<!--   <div class="remove-cont">
    <h3>or Remove me </h3>
    <form method="POST" action="/users/<%= @user.id %>/delete">
      <input type="submit" value="I want to be freed from your silly app">
    </form>
  </div> -->
</div>
<script>
  var data = <%= @myHash.to_json %> 
  console.log(data);
</script>
