
<script type="text/javascript" src="/scripts/user.js"></script>

</div>
  <audio src=<%= @newtrack %> type="audio/mpeg" id="currSong-mp3">
  <p>Your browser does not support the <code>audio</code> element.</p>
</audio>
<div class="container-fluid">
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="h1-container">
    <h1 class="user-h1" id="userH1"><%= @user.username %>'s  Page</h1>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="boomBoxCont">
      <canvas id="boomBoxCanvas" width="500" height="500"></canvas>
      <div id="controlBtns">
       <input type="button" name="play" class="ctrl-btn box-play-btn" value="PLAY">
       <input type="button" name="pause" class="ctrl-btn box-pause-btn" value="PAUSE">
       <input type="button" name="search" class="ctrl-btn box-search-btn" value="SEARCH">
      </div>
    </div>
  </div>
  <div class="song-container">
    <% if @songs != nil %>
      <% @songs.each do |song| %>
        <div class="song-div row">
          <div class="title-div col-md-4">
            <h3> <%= @song.title %></h3>
          </div>
          <div class="deletepost-div col-md-2">
            <input type="button" value="delete"
                class="main-delete-btn"> 
          </div>
        </div> 
        <p> <%= @song.rating %> </p>
      <% end %>
    <% end %>
    <div id="results">
      
    </div>
    <form method="GET" action="/addsong/<%= @user.id %>">
      <% if @searchTracks != nil %>
        <% @searchTracks.each do |track| %>
        <input type="radio" name=<%= track.stream_url %> value=<%= track.title %>> <%= track.title %> <br>
        <% end %>
        <input type="submit" value="SUBMIT">
      <% end %>
    </form>
  </div>
  <div class="row searchDiv">
    <h4> Search the sound cloud </h4>
    <form id="searchForm" method="POST" action="/searchcloud">
      <label for="keyword"> keyword </label>
      <input type="text" name="keyword" id="inputQuery">
      <input type="submit" id="searchFormBtn">
    </form>
  </div>
  <div class="remove-cont">
    <h3>or Remove me </h3>
    <form method="POST" action="/users/<%= @user.id %>/delete">
      <input type="submit" value="I want to be freed from your silly app">
    </form>
  </div>
</div>
<!--   <script>
  function setBodyColor(picker) {
    document.getElementsByTagName('body')[0].style.backgroundColor = '#' + picker.toString()
  }
  function setH1Color(picker) {
    document.getElementById('userH1').style.color = '#' + picker.toString()
  }
  function setTextColor(picker) {
    document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()
  }
  //This doesn't work in the .js files. 
  var color = <%= @colors.to_json %>; 
  setBodyColor(color.bodyColor);
  setH1Color(color.h1Color);
  setTextColor(color.textColor);
  </script> -->
